In [16]:
import pandas as pd
from pulp import *

In [17]:
PATH = 'Fantasy-Premier-League/data/'

current_df = pd.read_csv(PATH + '2022-23/gws/merged_gw.csv')
current_df.tail()

,name,position,team,xP,assists,bonus,bps,clean_sheets,creativity,element,...,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,GW
5293,Oliver Skipp,MID,Spurs,1.2,0,0,3,0,0.1,441,...,0,0.0,1,60,877,817,44,False,0,10
5294,Ryan Sessegnon,DEF,Spurs,3.2,0,0,25,1,15.8,436,...,0,2.0,6,-4604,4853,9457,45,False,0,10
5295,Ashley Young,DEF,Aston Villa,8.5,0,3,25,0,16.9,538,...,1,15.0,11,11463,13303,1840,44,False,0,10
5296,Jeremy Sarmiento Morante,MID,Brighton,-0.5,0,0,0,0,0.0,119,...,0,0.0,0,30,343,313,45,True,0,10
5297,Philip Billing,MID,Bournemouth,6.8,0,3,31,0,16.0,70,...,2,21.0,10,3447,14259,10812,53,True,0,10

In [18]:
gw_9 = current_df[current_df.GW == 9]
gw_9.head()

,name,position,team,xP,assists,bonus,bps,clean_sheets,creativity,element,...,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,GW
4019,Nathan Redmond,MID,Southampton,0.0,0,0,0,0,0.0,403,...,1,0.0,0,-563,0,563,53,True,0,9
4020,Junior Stanislas,MID,Bournemouth,-0.5,0,0,0,0,0.0,58,...,0,0.0,0,-52,107,159,48,True,0,9
4021,Armando Broja,FWD,Chelsea,1.5,0,0,3,0,0.0,150,...,1,0.0,1,-502,4453,4955,53,False,0,9
4022,Fabian SchÃ¤r,DEF,Newcastle,4.0,0,0,25,1,14.3,366,...,1,4.0,6,-1198,66324,67522,47,False,0,9
4023,Jonny Evans,DEF,Leicester,2.2,0,0,22,1,10.7,249,...,4,0.0,6,-484,1482,1966,44,True,0,9

In [19]:
data = gw_9[['name', 'team', 'position', 'total_points', 'value']]
data.head()

                  name         team position  total_points  value
4019    Nathan Redmond  Southampton      MID             0     53
4020  Junior Stanislas  Bournemouth      MID             0     48
4021     Armando Broja      Chelsea      FWD             1     53
4022      Fabian SchÃ¤r    Newcastle      DEF             6     47
4023       Jonny Evans    Leicester      DEF             6     44

In [20]:
POS = data.position.unique()
CLUBS = data.team.unique()
BUDGET = 1000
pos_available = {
    'DEF' : 5,
    'FWD': 3,
    'MID' : 5, 
    'GK' : 2,
}

names = [data.name[i] for i in data.index]
teams = [data.team[i] for i in data.index]
positions = [data.position[i] for i in data.index]
prices = [data.value[i] for i in data.index]
points = [data.total_points[i] for i in data.index]
players = [LpVariable("player_" + str(i), cat="Binary") for i in data.index]

In [21]:
prob = LpProblem("FPL_Player_Choices", LpMaximize)

In [22]:
prob += lpSum(players[i]*points[i] for i in range(len(data)))

In [23]:
prob += lpSum(players[i]*data.value[data.index[i]] for i in range(len(data))) <= BUDGET

for pos in POS:
    prob += lpSum(players[i] for i in range(len(data)) if positions[i] == pos) <= pos_available[pos]
    
for club in CLUBS:
    prob += lpSum(players[i] for i in range(len(data)) if teams[i] ==  club) <= 3

In [24]:
prob.solve()

Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /Users/mohammedkimti/Library/Python/3.7/lib/python/site-packages/pulp/apis/../solverdir/cbc/osx/64/cbc /var/folders/tx/xgzwgvjs2d96gtfmlg0jz8ym0000gn/T/d2aec3786c9c4b03a0769b325786e949-pulp.mps max timeMode elapsed branch printingOptions all solution /var/folders/tx/xgzwgvjs2d96gtfmlg0jz8ym0000gn/T/d2aec3786c9c4b03a0769b325786e949-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 30 COLUMNS
At line 3502 RHS
At line 3528 BOUNDS
At line 4167 ENDATA
Problem MODEL has 25 rows, 638 columns and 1914 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Continuous objective value is 194 - 0.00 seconds
Cgl0004I processed model has 25 rows, 253 columns (253 integer (238 of which binary)) and 759 elements
Cutoff increment increased from 1e-05 to 0.9999
Cbc0038I Initial state - 0 integers unsatisfied sum - 0
Cbc0038I Solution found of -194
Cbc0038I Cleaned solution of -194
Cbc0038I Before mini branch and bound, 253 integers at bound fixed and 0 continuous
Cbc0038I Mini branch and bound did not improve solution (0.02 seconds)
Cbc0038I After 0.02 seconds - Feasibility pump exiting with objective of -194 - took 0.00 seconds
Cbc0012I Integer solution of -194 found by feasibility pump after 0 iterations and 0 nodes (0.02 seconds)
Cbc0001I Search completed - best objective -194, took 0 iterations and 0 nodes (0.02 seconds)
Cbc0035I Maximum depth 0, 0 variables fixed on reduced cost
Cuts at root node changed objective from -194 to -194
Probing was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Gomory was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Knapsack was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Clique was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
MixedIntegerRounding2 was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
FlowCover was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
TwoMirCuts was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
ZeroHalf was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)

Result - Optimal solution found

Objective value:                194.00000000
Enumerated nodes:               0
Total iterations:               0
Time (CPU seconds):             0.00
Time (Wallclock seconds):       0.02

Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.01   (Wallclock seconds):       0.03

1

In [25]:
for v in prob.variables():
    if v.varValue != 0:
        name = data.name[int(v.name.split("_")[1])]
        club = data.team[int(v.name.split("_")[1])]
        position = data.position[int(v.name.split("_")[1])]
        point = data.total_points[int(v.name.split("_")[1])]
        price = data.value[int(v.name.split("_")[1])]
        print(name, position, club, point, price, sep=" | ")

Erling Haaland | FWD | Man City | 23 | 121
Phil Foden | MID | Man City | 19 | 80
Danny Ward | GK | Leicester | 8 | 40
Jarrod Bowen | MID | West Ham | 14 | 81
Anthony Martial | FWD | Man Utd | 10 | 69
Roberto Firmino | FWD | Liverpool | 12 | 79
Adam Smith | DEF | Bournemouth | 8 | 44
Leandro Trossard | MID | Brighton | 20 | 66
Thilo Kehrer | DEF | West Ham | 10 | 45
Illan Meslier | GK | Leeds | 11 | 45
Timothy Castagne | DEF | Leicester | 8 | 44
Conor Coady | DEF | Everton | 9 | 48
James Maddison | MID | Leicester | 18 | 80
Miguel AlmirÃ³n Rejala | MID | Newcastle | 15 | 50
Marcos Senesi | DEF | Bournemouth | 9 | 45